body{
	background-color: brown;
	font-size: 44px;
	font-family: cursive;
}
h1{
	color: aqua;
	border: 30px solid #40c4c8;
        padding: 20px;
        border-image: url(1.jpg) 30
          round round;
}
img{
	border: 15px double darkblue;
}